%% -*- erlang -*-
{sub_dirs, ["rel", "apps/riemann_syslog"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.
{edoc_opts, [{dir, "../../doc"}]}.
{parse_transform, lager_transform}.
{deps, [
  {ranch, ".*", {git, "https://github.com/extend/ranch.git", "0.6.2"}},
  {riemann, ".*", {git, "https://github.com/Aircloak/erlang_riemann.git", "0.1.2"}},
  {lager, "1.2.*", {git, "https://github.com/basho/lager", {tag, "1.2.2"}}}
]}.
