[
  {riemann, [
    {host, "localhost"},
    {port, 5555 }
  ]},
  {riemann_syslog, [

  ]},
  {syslog_pipeline, [
    {workers, [
      {syslog_pipeline_worker_frame, [
        {size, 10},
        {max_overflow, 20}
      ], []},
      {syslog_pipeline_worker_header, [
        {size, 10},
        {max_overflow, 20}
      ], []},
      {syslog_pipeline_worker_body, [
        {size, 10},
        {max_overflow, 20}
      ], [
        {parsers, [syslog_message_keyvalue]}
      ]},
      {syslog_pipeline_worker_router, [
        {size, 10},
        {max_overflow, 20}
      ], [
        {adapters, [
          metric_to_riemann
        , heroku_router_to_riemann
        ]}
      ]}
    ]}
  ]}
].
